/* 
configurações do componente Header
*/

.top {
    height: 40px;
    border: 1px solid rgb(214, 36, 16);
    background-color: rgb(30, 187, 187);
    padding-bottom: 8px;
    font-size: 16px;
    position: fixed;
    top: 3px;
    width: 50vw;
}




.menu {
    height: 40px;
    border: 1px solid rgb(214, 36, 16);
    background-color: rgb(224, 230, 230);
    padding-bottom: 8px;
    font-size: 16px;
    position: fixed;
    top: 3px;
    width: 98.7vw;

}

.container{
    width: 100px;; 
    height:40;

}

.navMenu ul{  /*coloca o menu na horizontal*/
    list-style: none; 
    text-align: left;  /*coloca texto a direita ou esquerda*/
}

.navMenu ul li{
    display: inline;
}

.navMenu ul li a{  
    padding-left: 2vw;
    padding: 0.5vh 0.5vw;
    display: inline-block;
    color: #333;
    text-decoration:none;
}

.navMenu ul li a:hover {
    color: blue;
    font-weight: bold;
    font-size: 18; 
}

/*configurações de menu principal*/
/*quando é classe cham com ponto*/
/*quando é        chama com #*/


#home, #orcamento, #cadastro, #caixa, #pedidos, #fichaTecnica, #produtos {
    text-align: center;
    
}

#home {
    height: 30vh;
    border: 1px solid black;
    background-color: rgb(172, 172, 165);
}

#orcamento {
    height: 70vh;
    border: 1px solid black;
    background-color: yellow;
}

#cadastro {
    height: 20vh;
    border: 1px solid black;
    background-color: burlywood;
}

#caixa{
    height: 50vh;
    border: 1px solid darkmagenta;
    background-color: darkseagreen;
}
#pedidos {
    height: 30vh;
    border: 1px solid red;
    background-color: cyan;
}
#fichaTecnica {
    height: 35vh;
    border: 1px solid fuchsia;
    background-color: silver;
}
#produtos {
    height: 35vh;
    border: 1px solid fuchsia;
    background-color: silver;
}



/*configuração retorno das ancoras*/

.voltarTopo, .irHome, .irOrcamento, .irCadastro, .irCaixa, .irPedidos, .irFichaTecnica, .irProdutos {
    font-size: 12px;
    padding:1vh;
    transition: 0.2s;
    position: fixed;
    right: 1vh;
    text-decoration: none;
    width: 70px; /*define tamanho dos botões- todos iguais*/
    text-align: center;
    border-radius: 4px; /*arredonda as bordas*/ 
}

.voltarTopo {
   bottom: 14vh; /*posiçao do botao pra cima ou para baixo*/
   color: white;
    background-color: rgba(0,0,0,0.3);
}
.voltatTopo:hover {
    background-color: rgba(0,0,0,0.6);
}

.irHome {
    bottom: 75vh; /*posiçao do botao pra cima ou para baixo*/
    color: green;
    background-color: bisque;
}
.irHome:hover {
    background-color: darkorange;
}

.irOrcamento {
    bottom: 71vh; /*posiçao do botao pra cima ou para baixo*/
    color: black;
    background-color: cyan;
}
.irOrcamento:hover {
    background-color: darkorange;
}

.irCadastro {
    bottom: 67vh; /*posiçao do botao pra cima ou para baixo*/
    color: white;
    background-color: darkblue;
}
.irCadastro:hover {
    background-color: red;
}

.irCaixa{
    bottom: 63vh; /*posiçao do botao pra cima ou para baixo*/
    color: darkred;
    background-color: yellow;
}
.irCaixa:hover {
    background-color: gray;
}

.irPedidos {
    bottom: 59vh; /*posiçao do botao pra cima ou para baixo*/
    color: indigo;
    background-color: green;
}
.irPedidos:hover {
    background-color: black;
}

.irFichaTecnica {
    bottom: 56vh; /*posiçao do botao pra cima ou para baixo*/
    color: indigo;
    background-color: salmon;
}
.irFichaTecnica:hover {
    background-color: greenyellow;
}
.irProdutos {
    bottom: 56vh; /*posiçao do botao pra cima ou para baixo*/
    color: indigo;
    background-color: salmon;
}
.irProdutos:hover {
    background-color: greenyellow;
}


/*
configurações do aside (menu lateral esquerdo)
*/
.aside a {
    position: fixed;
    left: -5vw;
    transition: 0.2s;
    padding: 2vh;
    width: 4vw;
    text-decoration: none;
    font-size: 12px;
    color: #fff;
    border-radius: 0 15px 15px 0;
    }
    .aside a:hover {
    left: 0;
    }
    #home2 {
    top: 20vh;
    background-color: blue;
    }
    #orcamento2 {
    top: 27vh;
    background-color: red;
    }
    #cadastro2 {
    top: 34vh;
    background-color: black;
    }
    #caixa2 {
    top: 41vh;
    background-color: cyan;
    }
    #pedidos2 {
    top: 48vh;
    background-color: rgba(0, 255, 115, 0.28);
    }
    #fichaTecnica2 {
    top: 55vh;
    background-color: salmon;
    }
    #produtos2 {
    top: 60vh;
    background-color: salmon;
    }